*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.heading-primary {
  font-weight: 300;
  font-size: calc(1rem + 2vw);
}

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 300;
  color: #323232;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 300;
  color: #cdd2cd;
}

.grid-page {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, minmax(0, 14.25rem)) [center-end] minmax(1rem, 1fr) [full-end];
  /* justify-content: center; */
}

.grid-wrapper-3 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(38rem, 1fr))
    [center-end];
  grid-template-rows: minmax(min-content, max-content);
}

.grid-wrapper-4 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(auto-fit, minmax(28.5rem, 1fr)) [center-end];
}

.grid-wrapper-8 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(8, minmax(min-content, 14.25rem)) [center-end];
}

.container {
  font-size: 1.6rem;
  grid-template-rows: 80vh;
  /* grid-auto-rows: minmax(min-content, 10rem); */
  font-family: "Roboto", sans-serif;
  color: #323232;
}

.header {
  background: url(../img/bg.png);
  background-size: cover;
  grid-column: full-start / full-end;
  color: #fff;
  padding-top: 2rem;
}

.brand {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  height: 3rem;
}
.logo {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
}

.logo span {
  font-weight: 700;
}
.nav {
}
.nav__toggle {
  font-size: 1.8rem;
  margin-left: 1rem;
}
.nav__menu {
  display: none;
}

.hero {
  grid-column: center-start / 6;
  grid-row: 2;

  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 1rem;
}

.hero .heading-primary {
  grid-column: 1 / -1;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
}

.hero .btn {
  max-width: 100%;
}

.hero__img {
  grid-column: 6 / center-end;
  grid-row: 2;
  max-width: 100%;
  display: block;
  align-self: center;
  /* height: auto; */
}

.features-1 {
  grid-column: full-start / full-end;
  background: #333333;
  font-weight: 300;
  padding: 5rem 0;
}

.features-1__wrapper {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 3rem;
}

.features-1__heading {
  color: #cdd2cd;
  grid-column: center-start / center-end;
}

.feature-1__text {
  font-size: 1.6rem;
  color: #cdd2cd;
  grid-row: 3;
}

.feature-1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.quotes {
  grid-column: full-start / full-end;
}

.quotes__wrapper {
  grid-column: full-start / full-end;
}
.quotes__quote {
  padding: 5rem;
  background: #F2F2F2;
  grid-column: 4 / center-end;

}

.quotes__text {
  font-style: italic;
  color: #626262;
  display: inline-block;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.quotes__author {
  grid-column: 4 / center-end;
  margin-top: 2rem;
  font-style: normal;
  color: #000;
}

.features-2 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-row: repeat(3, min-content);
  grid-gap: 3vw;
  color: #323232;
  padding: 5rem 0;
}
.features-2 .heading-secondary {
  color: #323232;
}
.features-2 .heading-tertiary {
  color: #ea5f4d;
}

.features-2__img {
  grid-column: 2 / -1;
  grid-row: 1 / span 3;
  max-width: 100%;
  max-height: 100%;

  display: block;
}

.features-3 {
  background: #f7f7f7;
  grid-column: full-start / full-end;
  justify-items: center;

  padding: 5rem 0 0;

}
.features-3__wrapper {
  grid-gap: 3rem;
  align-items: center;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(32rem, 1fr))
    [center-end];
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
}

.features-3 .feature-3:nth-of-type(odd) {
  text-align: right;
}

.features-3__heading {
  grid-column: center-start / center-end;
  margin-bottom: 5rem;
}

.features-3 .heading-tertiary {
  color: #ea5f4d;
}

.features-3__img {
  grid-column: 2;
  grid-row: 1 /span 2;
  width: 100%;
}

.gallery {
  padding-top: 5rem;
  grid-column: center-start / center-end;
}

.gallery .heading-secondary {
  grid-column: center-start / center-end;
}

.download {
  padding: 5rem 0;
  background: url(../img/bg-downloads.png) 5% 15% / 23% no-repeat, #ea5f4d;
  background-blend-mode: soft-light;
  grid-column: center-start / full-end;
}

.download-grid {
  display: grid;
  grid-template-columns:
    [center-start] repeat(
      4,
      [center-col-start] minmax(min-content, 28.5rem) [center-col-end]
    )
    [center-end] minmax(1rem, 1fr) [full-end];
  justify-items: center;
  grid-gap: 3rem;
}

.download .heading-secondary {
  grid-column: 1 / 5;
}

.download .btn {
  grid-row: 2;
  width: 15rem;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  text-align: center;
}

.download .btn:nth-of-type(1) {
  grid-column: 2;
  justify-self: end;
}

.download .btn:nth-of-type(2) {
  grid-column: 3;
  justify-self: start;
}

.team {
  background: magenta;
  grid-column: center-start / center-end;
  /* display: grid;
  grid-template-columns: [center-start] repeat(4, 1fr) [center-end]; */
}

.team__heading {
  grid-column: 1;
}

.team__member {
  /* padding: 3vw; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  grid-row: 2;
}

.numbers {
  background: mediumturquoise;
  grid-column: full-start / full-end;
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers__digit {
  grid-row: 1;
}

.number__source {
  grid-row: 2;
}

.subscribe {
  background: darkgray;
  grid-column: full-start / center-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr) [center-start] repeat(
      4,
      [center-col-start] minmax(min-content, 28.5rem) [center-col-end]
    )
    [center-end];
  justify-items: end;
  align-items: center;
}

.subscribe__heading {
  grid-column: center-start / 4;
}

.subscribe__form {
  grid-column: 4 / center-end;
}

.subscribe__form input {
  width: 30rem;
}

.partners {
  background: papayawhip;
  grid-column: center-start / center-end;
}

.partners__logos {
  display: flex;
  justify-content: space-around;
}

.contact {
  background: blueviolet;
  grid-column: center-start / center-end;
}

.footer {
  background: blanchedalmond;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      4,
      [center-col-start] minmax(min-content, 28.5rem) [center-col-end]
    )
    [center-end] 1fr [full-end];
}

.footer__byline {
  background: red;
  grid-column: center-start / full-end;
}

/*# sourceMappingURL=style.css.map */
