*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.heading-primary {
  font-weight: 300;
  font-size: calc(1rem + 2vw);
}

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 300;
  color: #323232;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 300;
  color: #cdd2cd;
}

.grid-page {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) [center-start] repeat(8, minmax(0, 14.25rem))
    [center-end] minmax(1rem, 1fr) [full-end];
  /* justify-content: center; */
}

.grid-center-right-end {
  grid-column: center-start / full-end;
  display: grid;
  grid-template-columns:
    [center-start] repeat(8, minmax(0, 14.25rem)) [center-end] minmax(1rem, 1fr)
    [full-end];
}

.grid-left-start-center {
  grid-column: full-start / center-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) [center-start] repeat(8, minmax(0, 14.25rem))
    [center-end];
}

.grid-wrapper-3 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(38rem, 1fr))
    [center-end];
  grid-template-rows: minmax(min-content, max-content);
}

.grid-wrapper-4 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(auto-fit, minmax(23rem, 1fr)) [center-end];
}

.grid-wrapper-8 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(8, minmax(min-content, 14.25rem)) [center-end];
}

.container {
  font-size: 1.6rem;
  grid-template-rows: 80vh;
  /* grid-auto-rows: minmax(min-content, 10rem); */
  font-family: "Roboto", sans-serif;
  color: #323232;
}

.header {
  background: url(../img/bg.png);
  background-size: cover;
  grid-column: full-start / full-end;
  color: #fff;
  padding-top: 2rem;
}

.brand {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  height: 3rem;
}
.logo {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
}

.logo span {
  font-weight: 700;
}
.nav {
}
.nav__toggle {
  font-size: 1.8rem;
  margin-left: 1rem;
}
.nav__menu {
  display: none;
}

.hero {
  grid-column: center-start / 6;
  grid-row: 2;

  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 1rem;
}

.hero .heading-primary {
  grid-column: 1 / -1;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
}

.hero .btn {
  max-width: 100%;
}

.hero__img {
  grid-column: 6 / center-end;
  grid-row: 2;
  max-width: 100%;
  display: block;
  align-self: center;
  /* height: auto; */
}

.features-1 {
  grid-column: full-start / full-end;
  background: #333333;
  font-weight: 300;
  padding: 5rem 0;
}

.features-1__wrapper {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 3rem;
}

.features-1__heading {
  color: #cdd2cd;
  grid-column: center-start / center-end;
}

.feature-1__text {
  font-size: 1.6rem;
  color: #cdd2cd;
  grid-row: 3;
}

.feature-1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.quotes {
  grid-column: full-start / full-end;
}

.quotes__wrapper {
  grid-column: full-start / full-end;
}
.quotes__quote {
  padding: 5rem;
  background: #f2f2f2;
  grid-column: 4 / center-end;
}

.quotes__text {
  font-style: italic;
  color: #626262;
  display: inline-block;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.quotes__author {
  grid-column: 4 / center-end;
  margin-top: 2rem;
  font-style: normal;
  color: #000;
}

.features-2 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-row: repeat(3, min-content);
  grid-gap: 3vw;
  color: #323232;
  padding: 5rem 0;
}
.features-2 .heading-secondary {
  color: #323232;
}
.features-2 .heading-tertiary {
  color: #ea5f4d;
}

.features-2__img {
  grid-column: 2 / -1;
  grid-row: 1 / span 3;
  max-width: 100%;
  max-height: 100%;

  display: block;
}

.features-3 {
  background: #f7f7f7;
  grid-column: full-start / full-end;
  justify-items: center;

  padding: 5rem 0 0;
}
.features-3__wrapper {
  grid-gap: 3rem;
  align-items: center;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(32rem, 1fr))
    [center-end];
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
}

.features-3 .feature-3:nth-of-type(odd) {
  text-align: right;
}

.features-3__heading {
  grid-column: center-start / center-end;
  margin-bottom: 5rem;
}

.features-3 .heading-tertiary {
  color: #ea5f4d;
}

.features-3__img {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 100%;
}

.gallery {
  padding-top: 5rem;
  grid-column: center-start / center-end;
}

.gallery .heading-secondary {
  grid-column: center-start / center-end;
}

.download {
  padding: 5rem 0;
  background: url(../img/bg-downloads.png) top -40% left 5% / 30rem no-repeat,
    #ea5f4d;
  background-blend-mode: soft-light;
}

.download__grid {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(30rem, 1fr))
    [center-end];
  justify-items: center;
  grid-gap: 1.5vw;
}

.download__wrapper {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: [center-start] repeat(auto-fit, minmax(23rem, 1fr)) [center-end];
  grid-gap: 3vw;
}

.download .heading-secondary {
  grid-column: 1 / span 2;
  color: #fff;
}

.download .btn {
  grid-row: 2;
  width: 15rem;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  text-align: center;
  grid-column: 1 / -1;
}

.download .btn:nth-of-type(1) {
  grid-column: 1;
  justify-self: end;
}

.download .btn:nth-of-type(2) {
  grid-column: 2;
  justify-self: start;
}

.team {
  grid-gap: 3vw;
  margin: 5rem 0;
}

.team .heading-tertiary {
  color: #1c1c1c;
}

.team__heading {
  grid-column: 1 / -1;
}

.team__member {
  /*   
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; */
  text-align: center;
}

.team__position {
  color: #c4c4c4;
  font-weight: 300;
  margin: 2rem 0;
  position: relative;
  /* align-self: stretch; */
}

.team__position::before {
  content: "";
  background: #c4c4c4;
  font-weight: 300;
  height: 1px;
  display: block;
  position: absolute;
  top: -50%;
  left: 30%;
  right: 30%;
}

.photo {
  height: 10rem;
  width: 10rem;
  display: inline-block;
}

.photo__img {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
}

.numbers {
  grid-column: full-start / full-end;
  padding: 5rem 0;
  background: #f7f7f7;
}

.numbers__wrapper {
  /* justify-content: center; */
  grid-gap: 3vw;
}

.numbers__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.numbers__number:not(:last-child)::after {
  content: "";
  background: #ea5f4d;
  position: absolute;
  right: 0;
  top: 10%;
  bottom: 10%;
  width: 2px;
  transform: rotateZ(20deg);
}

.numbers__digit {
  /* grid-row: 1; */
  color: #323232;
  font-size: 6rem;
  font-weight: 100;
}

.numbers__details {
  /* grid-row: 2; */
  color: #c4c4c4;
  font-size: 1.8rem;
  font-weight: 100;
}

.subscribe {
  background: darkgray;
  /* grid-column: full-start / center-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr) [center-start] repeat(
      4,
      [center-col-start] minmax(min-content, 28.5rem) [center-col-end]
    )
    [center-end];*/
  justify-items: end;
  align-items: center;
  grid-gap: 3vw;
  background-color: #333333;
  padding: 5rem;
}

.subscribe__heading {
  grid-column: center-start / 6;
  color: #ffffff;
  font-weight: 100;
}

.subscribe__form {
  grid-column: 6 / center-end;
  display: flex;
  height: 4rem;
  align-items: stretch;
}

.subscribe__form input {
  width: 25rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #c4c4c4;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

button {
  border: 1px solid #ea5f4d;
  border-radius: 0;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  background-color: #ea5f4d;
  outline: none;
}

.subscribe__form button {
  width: 15rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.partners {
  grid-column: center-start / center-end;
  margin: 5rem 0;
}

.partners .heading-secondary {
  color: #323232;
  font-weight: 100;
}
.partners__logos {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}
.partners__logo {
  flex: 0 0 22rem;
  border-radius: 3px;
  background: #333333;
  display: block;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.partners__logo-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.contact {
  grid-column: center-start / center-end;
  grid-gap: 5rem;
}

.contact .heading-secondary {
  grid-column: 1 / -1;
}

.contact__contacts {
  grid-column: 1 / -1;
  grid-row: 2;

}

.contact__form {
  grid-column: 3 / -1;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  grid-row-gap: 1vw;
  grid-column-gap: 2vw;
}

.contact__form [type="text"] {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.contact__form [type="email"] {
  grid-row: 1;
  grid-column: 3 / span 2;

}

.contact__form textarea {
  border: 1px solid #c4c4c4;
  border-radius: 0;
  font-family: inherit;
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #c4c4c4;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  grid-column: 1 / span 4;
}

.contact__form button {
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  justify-self: end;
  grid-column: span 1 / -1;
}


.footer {
  grid-column: full-start / full-end;
  padding: 5rem 0;
}

.footer__wrapper {
  grid-gap: 5rem;
}

.footer__col:nth-child(1) {
  grid-column: 1 / 5;
}

.footer__col:nth-child(2) {
  grid-column: 5 / 6;
}

.footer__col:nth-child(3) {
  grid-column: 7 / -1;
}

.footer__byline {
  background: #ea5f4d;
  grid-column: center-start / full-end;

  min-height: 4rem;
}

.footer__byline .to-top {
  grid-column: center-end;
}

/*# sourceMappingURL=style.css.map */
