*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* Slick Slider dots position reset */

.slick-dots {
  position: static;
}

.icon {
  height: 3rem;
  width: 3rem;
  margin-bottom: 2rem;
}

.icon--red {
  fill: #ea5f4d;
}

.icon--small {
  height: 1.6rem;
  width: 1.6rem;
}

.heading-primary {
  font-weight: 300;
  font-size: calc(1rem + 2vw);
}

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 100;
  color: #323232;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 300;
  padding-bottom: 2rem;
  color: #cdd2cd;
}

.grid-page {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) [center-start] repeat(8, minmax(0, 14.25rem))
    [center-end] minmax(1rem, 1fr) [full-end];
  /* justify-content: center; */
}

.grid-center-right-end {
  grid-column: center-start / full-end;
  display: grid;
  grid-template-columns:
    [center-start] repeat(8, minmax(0, 14.25rem)) [center-end] minmax(1rem, 1fr)
    [full-end];
}

.grid-left-start-center {
  grid-column: full-start / center-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) [center-start] repeat(8, minmax(0, 14.25rem))
    [center-end];
}

.grid-wrapper-3 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(38rem, 1fr))
    [center-end];
  grid-template-rows: minmax(min-content, max-content);
}

.grid-wrapper-4 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(auto-fit, minmax(23rem, 1fr)) [center-end];
}

.grid-wrapper-8 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(8, minmax(min-content, 14.25rem)) [center-end];
}

.container {
  font-size: 1.6rem;
  grid-template-rows: minmax(min-content, 80vh);
  /* grid-auto-rows: minmax(min-content, 10rem); */
  font-family: "Roboto", sans-serif;
  color: #323232;
}

.header {
  background: url(../img/bg.png);
  background-size: cover;
  grid-column: full-start / full-end;
  color: #fff;
  padding-top: 2rem;
}

.header__wrapper {
  grid-template-rows: min-content 1fr;
  position: relative;
}

.brand {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  height: 3rem;
}
.logo {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
}

.logo span {
  font-weight: 700;
}

.nav__btn {
  font-size: 1.8rem;
  margin-left: 1rem;
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  list-style: none;
  text-transform: uppercase;
  font-weight: 300;
  position: absolute;
  left: 0;
  top: 5rem;
  grid-auto-columns: minmax(min-content, 15rem);
  justify-items: stretch;
  align-items: center;
  text-align: center;
  transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-out;
}

@media only screen and (max-width: 37.5em) {
  .nav__menu {
    grid-auto-flow: row;
    grid-auto-columns: minmax(min-content, 18rem);
    grid-gap: 5rem;
    left: 5rem;
  }
}

.nav__menu-item {
  background: rgba(0, 0, 0, .5);
  padding: 1rem;
  transition: all .2s;
  border-radius: 2px;
}

.nav__menu-item:hover {
  background: rgba(0, 0, 0, .9);
}

.hero {
  grid-column: center-start / 6;
  grid-row: 2;

  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 1rem;
}

.hero .heading-primary {
  grid-column: 1 / -1;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
}

.btn:hover {
color: #ea5f4d;
background: #fff;  
}

.hero .btn {
  max-width: 100%;
}

.hero__img {
  grid-column: 6 / center-end;
  grid-row: 2;
  max-height: 75%;
  display: block;
  align-self: center;
  justify-self: center;
  height: auto;
}

.features-1 {
  grid-column: full-start / full-end;
  background: #333333;
  font-weight: 300;
  padding: 5rem 0;
}

.features-1__wrapper {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 3rem;
}

.features-1__heading {
  color: #cdd2cd;
  grid-column: center-start / center-end;
  margin-bottom: 2rem;
}

.feature-1__text {
  font-size: 1.6rem;
  color: #cdd2cd;
  grid-row: 3;
}

.quotes {
  grid-column: full-start / full-end;
}

.quotes__wrapper {
  grid-column: full-start / full-end;
}
.quotes__quote {
  padding: 5rem;
  background: #f2f2f2;
  grid-column: 4 / center-end;
}

.quotes__text {
  font-style: italic;
  color: #626262;
  display: inline-block;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.quotes__author {
  grid-column: 4 / center-end;
  margin-top: 2rem;
  font-style: normal;
  color: #000;
}

.features-2 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, min-content);
  grid-gap: 3vw;
  color: #323232;
  padding: 5rem 0;
}
.features-2 .heading-secondary {
  color: #323232;
}
.features-2 .heading-tertiary {
  color: #ea5f4d;
}

.features-2__img {
  grid-column: 2 / -1;
  grid-row: 1 / span 3;
  max-width: 100%;
  max-height: auto;
  justify-self: end;
  display: block;
}

.features-3 {
  background: #f7f7f7;
  grid-column: full-start / full-end;
  justify-items: center;

  padding: 5rem 0 0;
}
.features-3__wrapper {
  grid-gap: 3rem;
  align-items: center;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(32rem, 1fr))
    [center-end];
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
}

.features-3 .feature-3:nth-of-type(odd) {
  text-align: right;
}

.features-3__heading {
  grid-column: center-start / center-end;
  margin-bottom: 5rem;
}

.features-3 .heading-tertiary {
  color: #ea5f4d;
}

.features-3__img {
  grid-column: 2;
  grid-row: 1 / span 2;
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery {
  padding-top: 5rem;
  grid-column: center-start / center-end;
}

.gallery__slide {
  padding: 2rem;
}

.gallery__img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.gallery__slider {
  grid-column: center-start / center-end;
}

.gallery .heading-secondary {
  grid-column: center-start / center-end;
}

.download {
  padding: 5rem 0;
  background: url(../img/bg-downloads.png) top -40% left 5% / 30rem no-repeat,
    #ea5f4d;
  background-blend-mode: soft-light;
}

.download__grid {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [center-start] repeat(auto-fit, minmax(30rem, 1fr))
    [center-end];
  justify-items: center;
  grid-gap: 1.5vw;
}

.download__wrapper {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: [center-start] repeat(auto-fit, minmax(23rem, 1fr)) [center-end];
  grid-gap: 3vw;
}

.download .heading-secondary {
  grid-column: 1 / span 2;
  color: #fff;
}

.download .btn {
  grid-row: 2;
  width: 15rem;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  text-align: center;
  grid-column: 1 / -1;
}

.download .btn:nth-of-type(1) {
  grid-column: 1;
  justify-self: end;
}

.download .btn:nth-of-type(2) {
  grid-column: 2;
  justify-self: start;
}

.team {
  grid-gap: 2vw;
  margin: 5rem 0;
}

.team .heading-tertiary {
  color: #1c1c1c;
}

.team__heading {
  grid-column: 1 / -1;
}

.team__member {
  /*   
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; */
  text-align: center;
}

.team__position {
  color: #c4c4c4;
  font-weight: 300;
  margin: 2rem 0;
  position: relative;
  /* align-self: stretch; */
}

.team__position::before {
  content: "";
  background: #c4c4c4;
  font-weight: 300;
  height: 1px;
  display: block;
  position: absolute;
  top: -50%;
  left: 30%;
  right: 30%;
}

.photo {
  height: 10rem;
  width: 10rem;
  display: inline-block;
}

.photo__img {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
}

.numbers {
  grid-column: full-start / full-end;
  padding: 5rem 0;
  background: #f7f7f7;
}

.numbers__wrapper {
  grid-gap: 2vw;
}

.numbers__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.numbers__number:not(:last-child)::after {
  content: "";
  background: #ea5f4d;
  position: absolute;
  right: 0;
  top: 10%;
  bottom: 10%;
  width: 2px;
  transform: rotateZ(20deg);
}

.numbers__digit {
  /* grid-row: 1; */
  color: #323232;
  font-size: 6rem;
  font-weight: 100;
}

.numbers__details {
  /* grid-row: 2; */
  color: #c4c4c4;
  font-size: 1.8rem;
  font-weight: 100;
}

.subscribe {
  padding: 5rem 0;
  background-color: #333333;
  align-items: center;
}

.subscribe__heading {
  grid-column: center-start / 6;
  color: #ffffff;
  font-weight: 100;
}

.subscribe__form {
  grid-column: 6 / center-end;
  display: flex;
  height: 4rem;
  align-items: stretch;
}

.subscribe__form input {
  width: 25rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #c4c4c4;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

button {
  border: 1px solid #ea5f4d;
  border-radius: 0;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  background-color: #ea5f4d;
  outline: none;
}

.subscribe__form button {
  width: 15rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.partners {
  grid-column: center-start / center-end;
  margin: 5rem 0;
}

.partners .heading-secondary {
  color: #323232;
  font-weight: 100;
}
.partners__logos {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}
.partners__logo {
  flex: 0 0 22rem;
  border-radius: 3px;
  background: #333333;
  display: block;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.partners__logo-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.contact {
  grid-column: center-start / center-end;
  grid-gap: 5rem;
  padding-bottom: 5rem;
}

.contact .heading-secondary {
  grid-column: 1 / -1;
}

.contact__contacts {
  grid-column: 1 / -1;
  grid-row: 2;
}

.contact__form {
  grid-column: 3 / -1;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1vw;
  grid-column-gap: 2vw;
}

.contact__form input,
.contact__form textarea {
  border: 1px solid #c4c4c4;
  border-radius: 0;
  font-family: inherit;
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #c4c4c4;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition: all 0.2s;
}

.contact__form input:focus,
.contact__form textarea:focus {
  border: 1px solid #333333;
}

.contact__form input:hover,
.contact__form textarea:hover {
  cursor: pointer;
}

.contact__form [type="text"] {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.contact__form [type="email"] {
  grid-row: 1;
  grid-column: 3 / span 2;
}

.contact__form textarea {
  grid-column: 1 / span 4;
}

.contact__form button {
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  justify-self: end;
  grid-column: span 1 / -1;
}

.footer {
  grid-column: full-start / full-end;
  padding: 5rem 0 0;
  background: #333333;
  color: #cdd2cd;
  font-weight: 300;
  font-size: 1.6rem;
}

.footer .heading-secondary {
  color: #fff;
  margin-bottom: 2rem;
}

.footer__wrapper {
  grid-gap: 5rem;
}

.footer__col {
  display: grid;
  grid-row-gap: 2rem;
  align-content: start;
}

.footer__col:nth-child(1) {
  grid-column: 1 / 4;
}

.footer__col:nth-child(2) {
  grid-column: 4 / 6;
}

.footer__col:nth-child(3) {
  grid-column: 6 / -1;
}

.footer__byline {
  background: #ea5f4d;
  min-height: 4rem;
  margin-top: 5rem;
  align-items: center;
  color: #fff;
}

.address {
  font: inherit;
}

p[class*="contact__"] {
  display: flex;
  align-items: center;
}

.contacts__icon {
  margin-right: .9rem;
}

.tweet {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 2rem;
  align-content: space-between;
}

.copyright {
  grid-column: span 2;
  padding-left: 1rem;
}

.footer__byline .to-top {
  grid-column: span 1 / center-end;
  justify-self: end;
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 71.25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .contact__form button {
    width: 100%;
  }
}

@media only screen and (max-width: 52.25em) {

  .container {
    grid-template-rows: auto;
  }
  .header__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
  .hero {
    grid-column: 1 / -1;
    padding: 5rem 0;
    grid-row: 3;
  }
  .hero__img {
    grid-column: 1 / -1;
    grid-row: auto;
    justify-self: center;
    max-height: 50vh;
    max-width: 40%;
    display: block;
    margin-top: 7rem;
  }

  .hero .btn {
    grid-column: span 2;
  }

  .features-1__wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .feature-1 {
    max-width: 60%;
  }

  .feature-1:nth-of-type(2) {
    justify-self: end;
  }

  .quotes__quote {
    grid-column: 1 / -1;
  }

  .features-3__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }

  .features-3__img {
    grid-column: auto;
    grid-row: 6;
    justify-self: center;
    max-width: 50%;
  }

  .team,
  .numbers__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .numbers__number:nth-of-type(2)::after {
    display: none;
  }

  .subscribe {
    grid-row-gap: 5rem;
  }
  .subscribe__heading {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .subscribe__form {
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact__form {
    grid-column: 1 / -1;
    grid-row: auto;
    grid-gap: 3vw;
  }

  .contact__form button {
    grid-column: span 2 / -1;
  }

  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .footer__col:nth-child(1),
  .footer__col:nth-child(2),
  .footer__col:nth-child(3) {
    grid-column: auto;
  }

  .footer__byline {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 36em) {
  .hero__img {
    justify-self: center;
    max-width: 100%;
  }
  .features-2 {
    grid-template-columns: 1fr;
  }

  .features-2__img {
    grid-column: 1 / -1;
    padding: 0;
    margin: 0 auto;
  }

  .features-3__img {
    max-width: 70%;
  }

  .download {
    padding: 5rem 0;
    background: url(../img/bg-downloads.png) top 30% left 5% / 50rem no-repeat,
      #ea5f4d;
  }

  .download .heading-secondary {
    grid-column: span 2 / -1;
  }
  .download__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
  }

  .download .btn {
    /* padding: 2rem 2rem; */
    max-width: 100%;
  }

  .download .btn:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .download .btn:nth-of-type(2) {
    grid-column: 3 / -1;
  }

  .team,
  .numbers__wrapper {
    grid-template-columns: 1fr;

      grid-gap: 10vw;

  }
  .numbers__number:nth-of-type(2)::after {
    display: block;
  }
.numbers__number:not(:last-child)::after {
    content: "";
    background: #ea5f4d;
    position: absolute;
    right: 50%;
    top: 0;
    bottom: -150%;
    width: 2px;
    transform: rotateZ(90deg);
  }

  .subscribe {
    grid-gap: 0;
  }
  .subscribe__form input {
    min-height: 2rem;
    padding: 5px;
margin-bottom: 5px;
    /* margin-top: 5px; */
  }
  .subscribe__form button {
    min-height: 2rem;
    padding: 5px;
    margin-bottom: 5px;

  }

  .footer__wrapper {
    grid-template-columns: 1fr;
  }

  .footer__col:nth-child(2) {
    order: 3;
  }
}

.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0%, 0%, 0.2);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s cubic-bezier(1, -0.04, 0.52, 0.92);
}

.overlay.open {
  z-index: 1;
  visibility: visible;
  opacity: 0
}
/*# sourceMappingURL=style.css.map */
